// %======================== variables ========================% //

// %------------ viewport ------------% //
$WIDESCREEN: calc(16 / 9);
$tabAsp: calc(834 / 1194);

$FULLHD_WIDTH: 1920px;
$DESK_WIDTH: 1440px;
$LAP_WIDTH: 1024px;
$TAB_WIDTH: 834px;
$MOB_WIDTH: 320px;

$MID_WIDTH: calc($MOB_WIDTH + ($TAB_WIDTH - $MOB_WIDTH) / 2);

$mobRatio: calc($MID_WIDTH / $MOB_WIDTH);

$FULLHD_HEIGHT: calc($FULLHD_WIDTH / $WIDESCREEN);
$DESK_HEIGHT: calc($DESK_WIDTH / $WIDESCREEN);
$TAB_HEIGHT: calc($TAB_WIDTH / $tabAsp);

// %------------ colors ------------% //
$white: #fff;
$blue: #0039c8;
$majenta: #f7125a;
$orange: #f38b14;
$green: #a2cb01;