// ^======================== select ========================^ //

.select {
  position: relative;

  &._active {
    .select__header-icon {
      transform: rotateX(180deg);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__header-icon {
    transition: all 250ms;
  }

  &__body {
    position: absolute;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: all 250ms;
    width: 100%;
  }

  &__label {
    display: block;
    cursor: pointer;
  }

  input {
    position: absolute;
    visibility: hidden;
  }
}