// ^======================== checkbox ========================^ //

.checkbox {

  &__icon {
    flex-shrink: 0;
    display: block;
    transition: all 250ms;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__text {}

  input {
    position: absolute;
    visibility: hidden;
  }

  &:has(input:checked) {
    .checkbox__icon {}
  }

  &._invalid {
    animation: shaking 250ms;

    .checkbox__label {
      color: $majenta;
    }
  }

  // ?------------------------ here? ------------------------? //
  &__label {
    font-size: desk(14px);
    color: $darkGray50;

    @include TABLET {
      font-size: tab(14px, 10px);
    }
  }

  &__icon {
    @include square(desk(16px));
    margin-right: desk(10px);
  }
}